.pg4 {
    width: 100%;
    color: aliceblue;
    background-color: rgb(10, 9, 9);
    display: flex;
    justify-content: center;
    flex: 1;
    border-bottom: 10px rgb(63, 59, 59) solid;

}

.pg4__cont {
    
    width: 100%;
    max-width: 1442px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 16px;
    gap: 10px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}
    .pg4__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    }
    .pg4__img {
        
        width: 50%;
        display: flex;
        justify-content: center;
        border: 2px solid rgb(236, 79, 126);

    }
        .img-kids {
            height: 100%;
            width: 100%;
        }