.pg2 {
    width: 100%;
    color: #fdf6f6;
    background-color: black;
    display: flex;
    justify-content: center;
    border-bottom: 10px rgb(63, 59, 59) solid;
    flex: 1;
    
}
    .pg2__cont {
        width: 100%;
        max-width: 1442px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid rgb(75, 18, 180);

    }
        .pg2__text {
            height: 166px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            text-align: center;
        }
        .pg2__img{
            height: 80%;
            width: 25%;
            border: 2px solid rgb(190, 21, 100);
        }
            .img-anim {
                height: 100%;
                width: 100%;
            }
