.pg3 {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    flex: 1;
}
.pg3__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}